html.dark {
  color-scheme: dark;
}

/* 移除VitePress默认的背景色设置 */
.dark .VPContent {
  background-color: transparent !important;
}

/* 确保body和html没有默认背景 */
html,
body {
  background: none !important;
}

.form-valid-error p {
  margin: 0;
}

/* 顶部导航栏选中项样式 */
.VPNavBarMenuLink,
.VPNavBarMenuGroup {
  border-bottom: 1px solid transparent;
}

.VPNavBarMenuLink.active,
.VPNavBarMenuGroup.active {
  border-bottom-color: var(--vp-c-brand-1);
}
